<h2>Education Details</h2>
<table>
    <thead>
        <th>Qualification</th>
        <th>School/College</th>
        <th>University/Board</th>
        <th>Stream</th>
        <th>Passing Year</th>
        <th>Result</th>
        <th>State</th>
    </thead>
    <tbody>
        <tr>
            <td>{{education.degree.qualification}} <strong>(BE)</strong></td>
            <td>{{education.degree.institute}}</td>
            <td>{{education.degree.board}}</td>
            <td>{{education.degree.stream}}</td>
            <td>{{education.degree.year}}</td>
            <td>{{education.degree.cgpa}}</td>
            <td>{{education.degree.state}}</td>
        </tr>
        <tr>
            <td>{{education.intermediate.qualification}} <strong>(12<sup>th</sup>)</strong></td>
            <td>{{education.intermediate.institute}}</td>
            <td>{{education.intermediate.board}}</td>
            <td>{{education.intermediate.stream}}</td>
            <td>{{education.intermediate.year}}</td>
            <td>{{education.intermediate.percentage}}</td>
            <td>{{education.intermediate.state}}</td>
        </tr>
        <tr>
            <td>{{education.matric.qualification}} <strong>(10<sup>th</sup>)</strong></td>
            <td>{{education.matric.institute}}</td>
            <td>{{education.matric.board}}</td>
            <td>{{education.matric.stream}}</td>
            <td>{{education.matric.year}}</td>
            <td>{{education.matric.cgpa}}</td>
            <td>{{education.matric.state}}</td>
        </tr>
    </tbody>
</table>