<h2>Academic Projects</h2>

<table>
    <thead>
        <th>Project Name</th>
        <th>Projects Details</th>
        <th>Objective of Project</th>
        <th>Github link</th>
    </thead>
    <tbody>
        <tr>
            <td>{{projects.collegeProject.projectName}}</td>
            <td>{{projects.collegeProject.projectWork}}</td>
            <td>{{projects.collegeProject.objective}}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{projects.collegeInternship.projectName}}</td>
            <td>{{projects.collegeInternship.projectWork}}</td>
            <td>{{projects.collegeInternship.objective}}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{projects.codingProject1.projectName}}</td>
            <td>{{projects.codingProject1.projectWork}}</td>
            <td>{{projects.codingProject1.objective}}</td>
            <td><a href="{{projects.codingProject1.github}}">{{projects.codingProject1.github}}</a></td>
        </tr>
        <tr>
            <td>{{projects.codingProject2.projectName}}</td>
            <td>{{projects.codingProject2.projectWork}}</td>
            <td>{{projects.codingProject2.objective}}</td>
            <td></td>
        </tr>
    </tbody>
</table>